<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue的计算属性——computed</title>
</head>
<style>
    #app{
        font-family: "Roboto Light",sans-serif;
        color: #363e4f;
    }
    .data-label{
        display: inline-block;
        width: 160px;
    }
</style>
<body>

<div id="app">
    <p><strong class="data-label">A</strong><input type="text" v-model="a"></p>
    <p><strong class="data-label">b</strong><input type="text" v-model="b"></p>
    <p><strong class="data-label">C=A*2+2</strong>{{c}}</p>
    <p><strong class="data-label">D=A+B*2</strong>{{d}}</p>
    <p><strong class="data-label">E=B/2</strong>{{e}}</p>
    <p><strong class="data-label">F=C+D</strong>{{f}}</p>
    <p><strong class="data-label">G=D-E</strong>{{g}}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                a: 3,
                b: 4
            }
        },
        computed: {
            c() {
                return this.a * 2 + 2
            },
            d() {
                return Number(this.a) + this.b * 2
            },
            e() {
                return this.b / 2
            },
            f() {
                return Number(this.c) + Number(this.d)
            },
            g() {
                return this.d - this.e
            }
        }
    })
</script>


</body>
</html>